body {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  /* color: grey; */
}
#wrapper {
  width: 100%
  display: grid;
  column-gap: 1em;
  row-gap: 1em;
  margin: 50px;
  max-width: 1200px;
}
#service1 {
  max-width: 600px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-left: 0;
  float: left;
}

#ATC {
  padding-top: 11em;
  column-gap: 10px;
  grid-column-start: 3;
  grid-column-end: 4;
}

#ATC > div > div:nth-child(1) {
  min-width: 475px;
  max-width: 290px;
}

#ATC > div > div:nth-child(2) {
  min-width: 300px;
  margin-left: 1em;
}

p {
  margin-left: 80px;
}

#service3 {
  grid-column-start: 1;
  grid-column-end: 4;
  max-width: 90%;
  margin-left: 20px;
  margin-top: 150px;
}

#service4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

@media only screen and (max-width: 600px) {
  #service1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #ATC {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #ATC > div > div {
    min-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  body {
    width: 100%;
    margin: auto;
  }

  #ATC > div > div:nth-child(2) {
    width: 100%;
    float: none;
  }

  #service3, #service1, #service3, #service4, #service3 h3, #ATC > div > div, #ATC > div {
    display: block;
    width: 100%;
  }
}